<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>入门引导</title>
</head>
<body>
<div id="app">
    {{ message }}
    <br/>
    <input v-model="message">
</div>

<div id="app_v2">
    <ul>
        <li v-for="todo in todos">
            {{ todo.text }}
        </li>
    </ul>
</div>


<div id="app_v3">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
</div>

<div id="app_v4">
    <input v-model="newTodo" v-on:keyup.enter="addTodo">
    <ul>
        <li v-for="todo in todos">
            <span>{{ todo.text }}</span>
            <button v-on:click="removeTodo($index)">X</button>
        </li>
    </ul>
</div>

</body>
<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
    new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue.js!'
        }
    });

    //demo2
    new Vue({
        el: '#app_v2',
        data: {
            todos: [
                { text: 'Learn JavaScript' },
                { text: 'Learn Vue.js' },
                { text: 'Build Something Awesome' }
            ]
        }
    });

    //demo3
    new Vue({
        el: '#app_v3',
        data :{
           message: 'hello world!'
        },
        methods:{
            reverseMessage: function () {
                this.message = this.message.split('').reverse().join('')
            }
        }
    });

    //demo4
    new Vue({
        el: '#app_v4',
        data: {
            newTodo: '',
            todos: [
                { text: 'Add some todos' }
            ]}
        ,
        methods: {
            addTodo: function () {
                var text = this.newTodo.trim();
                if (text) {
                    this.todos.push({ text: text });
                    this.newTodo = ''
                }}
            ,
            removeTodo: function (index) {
                this.todos.splice(index, 1)
            }}
    })

</script>
</html>